# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
.env/
.venv/
env/
venv/

# Ignore PyInstaller output folders (just in case)
build/
dist/
*.spec

# Logs and temp files
*.log
*.tmp
*.bak

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# IDE/editor files
.vscode/
.idea/
*.swp

treegen_output.txt
pinegen_output.txt